   
   @font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }
   @font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
   @font-face {
    font-family: 'MapoMaponaru'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoMaponaruA.woff') format('woff'); font-weight: normal;
    font-style: normal; }
    .nanumsquare {
        font-family: 'NanumSquare', sans-serif !important;
    }    
.fixed{
    background:rgba(0,0,0,0.3); 
    transition:all 0.5s ease-in-out; 
    -webkit-transition:all 0.5s ease-in-out;
}
.fixed>div>ul>li>a{
    color: #fff;
}

.navi{
    /* background: url('../img/bg-color-pink.jpg'); */
    width:100%; 
    height:80px; 
    color:#2a2a2a; 
    position:fixed; 
    transition:all 0.5s ease-in-out; 
    -webkit-transition:all 0.5s ease-in-out;
    display: flex; 
    margin: 0 auto;
    z-index: 999;
}
.navi-logo{
    width: 50%;
}
.navi-logo>.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
.logo img{
    width: 100px;
}
.navi-button{
    display: flex;
    width: 50%;
    margin-left: 20%;
}
.navi-button>ul{
    display: flex;
}
.navi-button>ul>li{
    padding: 8% 30px 0;
}
.navi-button>ul>li>a{
    font-size: 18px;
    font-family: 'GyeonggiTitleM';
    cursor: pointer;
}
.navi-button>ul>li>a:hover{
    text-decoration: underline;
    font-size: 23px;
}
.btn{
    display: none;
    padding-top: 4%;
    cursor: pointer;
}

@media (max-width:768px){
    
    .navi-button>ul{
        display: none;
        position: fixed;
        top: 70px;
        right: 50px;
    }
    .navi-button>ul>li{
        padding: 45% 0;
    }
    .btn{
        display: block !important;
        position: fixed;
        right: 50px;
    }
}

/* navi css */


#section01{
    background: url(../img/garden2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    /* height: 1000px; */
    background-repeat: no-repeat;
    background-position: center;
}
.main-title{
    /* background: rgba(0,0,0,0.3); */
    width: 100%;
    height: 910px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main-txt{
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-family: 'GyeonggiBatang';
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.title p{
    font-size: 25px;
    margin-top: 10px;
    font-family: 'GyeonggiBatang'; 
    color: #fff;
    letter-spacing: 3px;
}
@media(max-width:768px){
    #section01{
        background-size: cover;
    }
}
@media (max-width:535px){
    #section01{
        background-attachment: none !important;
    }
    .main-title{
        height: 800px;
    }
    .main-txt{
        width: 100%;
        font-size: 40px;
    }
    .title p{
        font-size: 20px; 
        line-height: 30px; 
        text-align: center;
    }
}
@media (max-width:375px){
    #section01{
        background-attachment: none !important;
    }
}

/* section01  end*/

#section02{
    background: url('../img/bg-color-pink.jpg');
    width: 100%;
    /* height: 1000px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sec02-warp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section02-warp{
    width: 66.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec02-img{
    width: 50%;
    margin-top: 12%;
    margin-bottom: 12%;
}
.sec02-img>img{
    width: 80%;
}
.sec02-txt{
    width: 50%;
    padding: 1% 0 5% 0;
}
.sec02-txt>h2{
    font-size: 30px;
    color: #374d01;
    font-family: 'MapoMaponaru';
    line-height: 35px;
    letter-spacing: 3px;
}
.sec02-txt>p{
    font-size: 20px;
    color: #121212;
    line-height: 30px;
    font-family: 'GyeonggiBatang';
    margin-top: 8%;
    font-weight: normal;
    letter-spacing: 1px;
}
@media (max-width:768px){
    .section02{
        width:100%;
    }
    .section02-warp{
        width:100%;
        flex-direction: column-reverse;
    }
    .sec02-img{
        width:70%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .sec02-txt{
        width:100%;
        text-align: center;
        padding-top: 15%;
    }
    .sec02-txt>h2{
        font-size: 25px;
        line-height: 30px;
    }
    .sec02-txt>p{
        font-size: 18px;
        line-height: 25px;
        margin-top: 6%;
    }
}
@media (max-width:535px){
    .sec02-txt{
        width: 95%;
    }
    .sec02-txt>p{
        font-size: 18px;
        line-height: 25px;
        margin-top: 4%;
    }
    .sec02-img{
        width: 70%;
    }
    .sec02-img>img{
        width: 80%;
        height: 400px;
    }
}
@media (max-width:400px){
    .sec02-txt{
        width: 95%;
    }
    .sec02-txt>h2{
        font-size: 20px;
        line-height: 25px;
    }
    .sec02-txt>p{
        font-size: 16px;
        line-height: 20px;
    }
}

/* section02 end */
#section03{
    width: 100%;
    /* height: 910px; */
    /* background: url('../img/bg-color-pink.jpg'); */
}
.sec03-main{
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 10%;
}
.sec03-main>h1{
    font-size: 40px;
    line-height: 45px;
    font-family: 'GyeonggiBatang';
}
.section-img{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.section-img-bg1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.section-img-txt{
    position:absolute;
    top: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}
.section-img-bg1:hover .section-img-txt{
    top: 0;
    height: 100%;
}
.section-img-bg2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.section-img-bg2:hover .section-img-txt{
    top: 0;
    height: 100%;
}
.section-img-bg3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;
}
.section-img-bg3:hover .section-img-txt{
    top: 0;
    height: 100%;
}
.section-img-bg4{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;
}
.section-img-bg4:hover .section-img-txt{
    top: 0;
    height: 100%;
}
.section03-txt{
    text-align: center;
}
.section03-txt h1{
    font-size: 30px;
    color: #fff;
    font-family: 'GyeonggiBatang';
    font-weight: bold;
    margin-top: 12%;
}
.section03-txt p{
    font-size: 20px;
    color: #fff;
    font-family: 'GyeonggiBatang';
    line-height: 20px;
    letter-spacing: 2px;
}
.section03-txt p:nth-child(2){
    margin-top: 5%;
}

@media (max-width:768px){
    .sec03-main h1{
        font-size: 35px;
        line-height: 40px;
    }
    .section-img{
        flex-wrap: wrap;
    }
    .section03-txt h1{
        font-size: 25px;
        margin-top: 13%;
    }
    .section03-txt p{
        font-size: 18px;
        line-height: 15px;
    }
    .section-img-bg3{
        margin-bottom: 0;
    }
}
@media (max-width:535px){
    .sec03-main h1{
        font-size: 30px;
        line-height: 35px;
    }
    .section03-txt h1{
        font-size: 23px;
        margin-top: 8%;
    }
    .section03-txt p{
        font-size: 16px;
        line-height: 9px;
    }
}
@media (max-width:375px){
    .sec03-main h1{
        font-size: 25px;
        line-height: 45px;
    }
    .section03-txt h1{
        font-size: 20px;
        margin-top: 5%;
    }
    .section03-txt p{
        font-size: 16px;
        line-height: 9px;
    }
}
/* section03 end */



#section04{
    width: 100%;
    background: url('../img/bg-color-pink.jpg');
}
.sec04-main{
    text-align: right;
    padding-top: 10%;
    margin-right: 10%;
}
.sec04-main h1{
    font-size: 40px;
    line-height: 45px;
    font-family: 'GyeonggiBatang';
}
.sec04-content-box{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 10%;
}
.sec04-content{
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-bottom: 1%;
}
.overflow{
    width: 50%;
    overflow: hidden;
}
.sec04-pro{
    background: url('../img/provence-vill.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.8s;
}
.sec04-pro:hover{
    transform: scale(1.2);
}
.sec04-bake{
    background: url('../img/ru-bake2.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.8s;
}
.sec04-bake:hover{
    transform: scale(1.2);
}
.sec04-content-box{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 10%;
}
.sec04-content{
    display: flex;
    padding-top: 5%;
    padding-bottom: 1%;
}
.sec04-txt{
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.sec04-txt a{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-family: 'GyeonggiBatang';
    letter-spacing: 3px;
    text-decoration: underline;
}
#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9999999;
}
.modal-con{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    min-height: 30%;
    background: #fff;
}
.modal-con .title{
    font-size: 20px;
    padding: 20px;
    background: #fff;
    font-family: 'GyeonggiBatang';
    font-weight: bold;
}
.modal-con .con{
    font-size: 16px;
    line-height: 1.3;
    padding: 30px;
    font-family: 'GyeonggiBatang';
    letter-spacing: 2px;
}
.modal-con .close{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #000;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 10px;
}

@media (max-width:768px){
    .sec04-content{
        flex-direction: column;
    }
    .overflow{
        width: 100%;
    }
    .sec04-main h1{
        font-size: 35px;
        line-height: 40px;
    }
    .sec04-content-box{
        height: 400px;
    }
    .sec04-txt{
        height: 400px;
    }
    .sec04-bar{
        padding-top: 5%;
        padding-left: 3%;
    }
    .sec04-bar h1{
        font-size: 30px;
    }
    .sec04-txt h3{
        font-size: 22px;
        margin-top: 6%;
    }
    .sec04-txt p{
        font-size: 18px;
        margin-top: 3%;
    }
}
@media (max-width:535px){
    .sec04-main h1{
        font-size: 30px;
        line-height: 45px;
    }
    .sec04-bar{
        padding-top: 10%;
    }
    .sec04-bar h1{
        font-size: 25px;
    }
    .bar-pro{
        width: 60%;
    }
    .bar-bake{
        width: 40%;
    }
    .sec04-txt h3{
        font-size: 20px;
        margin-top: 10%;
    }
    .sec04-txt p{
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width:375px){
    .sec04-main h1{
        font-size: 30px;
        line-height: 42px;
    }
    .sec04-bar{
        padding-top: 10%;
    }
    .sec04-bar h1{
        font-size: 25px;
    }
    .bar-pro{
        width: 55%;
    }
    .bar-bake{
        width: 30%;
    }
    .sec04-txt h3{
        font-size: 20px;
        margin-top: 10%;
    }
    .sec04-txt p{
        font-size: 16px;
        line-height: 20px;
    }
}
/* section04 end */

#section05{
    background: url('../img/anger2.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sec05-black{
    background: rgba(0,0,0,0.6);
}
.section05-warp{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.section05-map{
    width: 50%;
    margin-bottom: 5%;
}
#map{
    margin: 0 auto;
}
.section05-map>h1{
    color: #fff;
    font-size: 40px;
    line-height: 45px;
    font-family: 'GyeonggiBatang';
    letter-spacing: 3px;
    margin-top: 20%;
    margin-bottom: 5%;
}
.section05-tra{
    width: 45%;
}
.section05-tra p:first-child{
    width: 100%;
    height: 100px;
    margin-top: 20%;
}
.sec05-txt{
    background: #e3e3e3;
    height: 600px;
    width: 100%;
    text-align: right;
    padding: 0 2.5%;
    margin-left: 5%;
}
.sec05-txt p:last-child{
    color: #121212;
    font-size: 22px;
    font-family: 'GyeonggiBatang';
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 15%;
    text-align: center;
}
.sec05-txt h2{
    color: #121212;
    font-size: 25px;
    font-family: 'GyeonggiBatang';
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 3px;
}
.sec05-txt>p{
    color: #121212;
    font-size: 20px;
    font-family: 'GyeonggiBatang';
    letter-spacing: 2px;
    line-height: 30px;
}

.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

@media (max-width:768px){
    .section05-warp{
        width: 100%;
        flex-direction: column;
    }
    .section05-map{
        width: 100%;
    }
    #id{
        width: 90%;
    }
    .section05-map>h1{
        text-align: center;
        margin-top: 13%;
        font-size: 35px;
    }
    .section05-map-img{
        width: 80%;
        margin: 0 auto;
        padding: 5%;
        padding-top: 10%;
    }
    .section05-map>p{
        text-align: center;
        margin-bottom: 8%;
        font-size: 18px;
    }
    .section05-tra{
        width: 100%;
    }
    .section05-tra p:first-child{
        display: none;
    }
    .sec05-txt{
        width: 90%;
        height: 500px;
        margin: 0 auto;
    }
    .sec05-txt h2{
        font-size: 22px;
        margin-bottom: 3%;
        line-height: 30px;
    }
    .sec05-txt p{
        font-size: 18px;
    }
    .sec05-txt p:last-child{
        font-size: 20px;
        margin-top: 5%;
    }
}
@media (max-width:536px){
    .section05-map>h1{
        font-size: 30px;
    }
    .section05-map-img{
        width: 70%;
    }
    .section05-map>p{
        font-size: 18px;
        margin-bottom: 7%;
    }
    .sec05-txt{
        width: 90%;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .sec05-txt h2{
        font-size: 22px;
        margin-top: 3%;
        margin-bottom: 0;
    }
    .sec05-txt p{
        font-size: 16px;
        line-height: 25px;
    }
    .sec05-txt p:last-child{
        font-size: 20px;
        margin-top: 10%;
    }
}
@media (max-width:376px){
    .section05-map>p{
        font-size: 17px;
    }
    .sec05-txt{
        width: 90%;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .sec05-txt h2{
        font-size: 20px;
        margin-top: 3%;
        margin-bottom: 0;
    }
    .sec05-txt p{
        font-size: 16px;
        line-height: 20px;
    }
    .sec05-txt p:last-child{
        font-size: 18px;
        margin-top: 4%;
    }
}
footer{
    width: 100%;
    background-color: #555;
}
.footer-left{
    color: #999;
    width: 85%;
    margin: 0 auto;
    display: flex;
}
.footer-txt{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-txt p{
    font-size: 14px;
    margin-top: 1%;
}